[user]
	name = Ugurcan Emre Atas
	email = 22047299+ugurcanatas@users.noreply.github.com
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
